<div id="login-content">
  <header class="page-title">
  <span>Log In</span>
  </header>

  <section>
      <form name="form.login" ng-class="{ 'ng-submitted' : form.login.submitted }" novalidate>
        <div class="error main-error" ng-show="form.login.globalError">{{ form.login.globalError }}</div>

        <input validate required email type="email" ng-model="inputs.email" name="email" placeholder="Email">

        <input validate required password type="password" ng-model="inputs.password" name="password" placeholder="Password">

        <div class="inline-item-wrap">
          <input class="button item" type="button" ng-click="submit($event)" value="Submit">

          <div class="success-message item"><span ng-show="form.login.success">{{form.login.success}}</span></div>
        </div>
      </form>
  </section>
</div>