<div id="home-content">
  <header class="page-title">
  <span>Users</span>
  <a class="plus-button" href="#/users/new"></a>
  </header>

  <input type="text" placeholder="Search Users" ng-model="searchName" ng-change="search(searchName)">

  <!-- Users List -->

  <div class="vertical-list">
    <div ng-repeat="user in users" class="list-row user">
      <h3 class="ellipsis">{{user.name}}</h3>
      <span class="ellipsis">{{user.email}}</span>
    </div>

    <!-- Empty List -->

    <div class="empty-message list-row" ng-show="!users.length && !loading">
      No users found. <a href="#/users/new"> Make a new one!</a>
    </div>
  </div>
</div>