<div id="new-user-content">
  <header class="page-title">
  <span>New User</span>
  </header>

  <section>
      <form name="form.user" ng-class="{ 'ng-submitted' : form.user.submitted }" novalidate>
        <div class="error main-error" ng-show="form.user.globalError">{{ form.user.globalError }}</div>

        <input validate required type="text" ng-model="inputs.name" name="name" placeholder="Name">

        <input validate required email type="email" ng-model="inputs.email" name="email" placeholder="Email">

        <input validate required password type="password" ng-model="inputs.password" name="password" placeholder="Password">

        <input validate required password match="inputs.password" required type="password" ng-model="inputs.confirm.password" name="confirm password" placeholder="Confirm Password">

        <div class="inline-item-wrap">
          <input class="button item" type="button" ng-click="submit($event)" value="Submit">

          <div class="success-message item"><span ng-show="form.user.success">{{form.user.success}}</span></div>
        </div>
      </form>
  </section>
</div>